/* Fix autocomplete component */
ul[role="listbox"] {
  z-index: 9999;
  width: auto !important;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.MuiPickersPopper-root {
    z-index: 10000;
}
